.bg-custom-2 {
  background-image: linear-gradient(15deg, #4a43d3 0%, #23098c 98%);
  
  }
  .bg-custom-1 {
    background-color: rgb(104, 70, 214);
    
    }

.text-block {
position: absolute;
bottom: 20px;
right: 20px;
background-color: black;
color: white;
padding-left: 20px;
padding-right: 20px;
}


.card-img-overlay{
text-align: center;

}
.sticky {
position: fixed;
top: 0;
width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
  }

  * {
    box-sizing: border-box;
  }

  /* Button used to open the contact form - fixed at the bottom of the page */
  .open-button {
    background-color: #555;
    color: white;
    border: none;
    cursor: pointer;
    position: fixed;
  }

  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    border: 3px solid #f1f1f1;
    z-index: 9;
    background-color: white;
    width: 400px;
    height: 270px;
    align-content: center;
    align-items: center;
    margin-top: 56px;
  }